<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Wybecom TALK JTAPI Connector</description>
    <display-name>Wybecom TALK JTAPI Connector</display-name>
    <listener>
        <listener-class>org.wybecom.talk.jtapi.connector.JTAPIServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>JTAPIServlet</servlet-name>
        <servlet-class>org.wybecom.talk.jtapi.connector.JTAPIServlet</servlet-class>
        <init-param>
            <description>JTAPIConnector running mode: defaultimplementation, cisco, team, ciscoteam</description>
            <param-name>mode</param-name>
            <param-value>cisco</param-value>
        </init-param>
        <init-param>
            <description>For Cisco implementation, list of all partitions to monitor</description>
            <param-name>filteredPartitions</param-name>
            <param-value/>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CometServlet</servlet-name>
        <servlet-class>org.wybecom.talk.comet.CometServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CTIServer</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>JTAPISnapshotService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JTAPIServlet</servlet-name>
        <url-pattern>/JTAPIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CometServlet</servlet-name>
        <url-pattern>/CometServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTIServer</servlet-name>
        <url-pattern>/CTIServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JTAPISnapshotService</servlet-name>
        <url-pattern>/JTAPISnapshotService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
